.main-container{
  font-family: Arial, Helvetica, sans-serif;
  display:grid;
  grid: repeat(8, 1fr) / 1fr;
}

.header-container{
  color: red;
  font-size: 2rem;
  text-align: center;
}

.footer-container{
  color: blue;
  font-size: 2rem;
  text-align: center;
}

.general-section{
  background: snow;
}

.general-content {
  color: blue;
}

.general-form{
  font-size: 1.5rem;
}

.education-section{
  background: snow;
}

.education-content {
  color: blue;
}

.education-form{
  font-size: 1.5rem;
}

.practical-section{
  background: snow;
}

.practical-content {
  color: blue;
}

.practical-form{
  font-size: 1.5rem;
}
