body{
  margin: auto;
}

.main-container{
  font-family: Arial, Helvetica, sans-serif;
  display:grid;
  grid: 150px repeat(6, 1fr) 80px / 1fr;
}

.main-container label {
  padding: 0.25rem;
}

.main-container button {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.25rem;
  font-weight: bold;
}

.main-container input {
  padding: 0.25rem;
  font-size: 1rem;
  margin: 0.25rem;
}

.header-container{
  background-color: AliceBlue;
  color: DimGray;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  display: grid;
  grid: 1fr / 1fr;
}

.header-title{
  justify-self: center;
  align-self: center;
}

.footer-container{
  color: blue;
  background-color: AliceBlue;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  display: grid;
  grid: 1fr / 1fr;
}

.footer-container a{
 text-decoration: none;
 font-size: 1.25rem;
 align-self: center;
}

.general-section{
  background: snow;
  color: DimGray;
  padding: 2rem;
}

.general-content {
  display: grid;
  grid:  1fr / repeat(2, 1fr);
  padding: 1rem;
}

.general-form{
  font-size: 1rem;
  padding: 1rem;
}

.education-section{
  background: PaleGreen;
  color: DimGray;
  padding: 2rem;
}

.education-content {
  display: grid;
  grid: 1fr / repeat(2, 1fr);
  padding: 1rem;
}

.education-form{
  font-size: 1rem;
  padding: 1rem;
}

.practical-section{
  background: SteelBlue;
  padding: 2rem;
}

.practical-content {
  display: grid;
  grid: 1fr / repeat(2, 1fr);
  padding: 1rem;
}

.practical-form{
  font-size: 1rem;
  padding: 1rem;
}

.information-label{
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem;
}

.information-data{
  font-size: 1rem;
}

.section-title{
  font-size: 1.25rem;
  padding: 1rem;
  font-weight: bold;
}
